body {
    background-color: #bae6c5c9;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .top-link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d49ed0;
    border-radius: 5px;
  }
  
  h1, h2 {
    border-bottom: 2px solid #99a9b469;
    padding-bottom: 5px;
  }
  
  p {
    background-color: #6d616d;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
  }
  
  figure {
    margin-top: 20px;
    border: 1px solid #b98080;
    padding: 10px;
    background-color: #c58484;
  }
  
  progress {
    width: 100%;
    height: 20px;
    margin-top: 10px;
  }
