body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, sans-serif;
}


#header {
  background-color: #f2b6b6;
  padding: 20px;
}

#nav {
  background-color: #b6d9f2;
  padding: 10px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

#section {
  background-color: #d6f2b6;
  padding: 20px;
}